<!DOCTYPE html>
<html>
<body>
<h1> Hello </h1>
<p>Today we are gonna be filling a short form made as a HTML Page.<br>Lets Begin. </p>
<form method="post" action="/addStudent">
<fieldset> <legend><h1> About Me </h1></legend>

<b><label>Full Name</label></b><br>
<input type="text" name="Name" value=""><br>

<br><b><label>Gender</label></b><br>
<input type="radio" name="Gender" value="male">
<label>Male</label><br>
<input type="radio" name="Gender" value="female">
<label>Female</label><br>

<br><b><label>Location</label></b><br>
<select name="Location" size="5">
 <option value="Chennai">Chennai</option>
 <option value="Bangalore">Bangalore</option>
 <option value="Nellore">Nellore</option>
 <option value="Kadapa">Kadapa</option>
 <option value="Other">Other</option>
</select><br>

<br><b><label>Qualifications</label></b><br>
<input type="checkbox" name="Qualification" value="Engineer">
<label>B.Tech/M.Tech</label><br>
<input type="checkbox" name="Qualification" value="Doctor">
<label>Ph.D</label><br>
<input type="checkbox" name="Qualification" value="Student">
<label>Still in school.</label><br>
<input type="checkbox" name="Qualification" value="It's a Secret">
<label>I don't know what you're talking about. :| </label><br> 

<br><b><label>Contact</label></b><br>
<input type="tel" name="Number" value=""><br> 

<br><b><label>Friend List</label></b><br>
<select name="Friend List" size="8" multiple>
 <option value="Moiz">Moiz</option>
 <option value="Rameez">Rameez</option>
 <option value="Danish">Danish</option>
 <option value="Hayyan">Hayyan</option>
 <option value="Sakhib">Sakhib</option>
 <option value="Naseema">Naseema</option>
 <option value="Faiza">Faiza</option>
 <option value="Shaffreen">Shaffreen</option>
</select><br>

 <input type = "submit">
</fieldset>
</form>
If I missed your name I'm sorry because these are all the names I can remember from the Zoom Call<br>

<p><b>Thank you for your time.</b></p>
</body>
</html>
