<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
}

</style>
</head>
<body align="center" bgcolor="#c0ded9", text="black">
<h1 align="center"font size="60"border="6"color="black">Resume Screening Tool</h1>
<p align="center"font size="30"border="6"color="black">Welcome {{person}}!</p>
<hr></hr>
<ul type="square">
  <li><a href="home">Home</a></li>
  <li><a href="jobs">Jobs</a></li>
  <li><a href="assessment">Assessment</a></li>
  <li><a href="resume">Resume</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
</ul>
</body>
</html>