<!DOCTYPE HTML>
<html>

<body bgcolor="#c0ded9", text="black">
<h1 align="center"border="6"color="black">Resume Screening Tool</h1>
<hr></hr>
<form align="center">
<table>
  <tr>
        <td>
		     <b><label>Job ID</label></b>
        </td>
		<td>
			 <input type="text" name="ID" value="">
        </td>
  </tr>

  <tr>
        <td>
		     <b><label>Experience</label></b>
        </td>
		<td>
			 <input type="text" name="Experience" value="">
        </td>
  </tr>
  
  <tr>
        <td>
		     <b><label>Mandatory Skills</label></b>
        </td>
		<td>
			 <input type="text" name="Mandatory Skills" value="">
        </td>
  </tr>
  
  <tr>
        <td>
		     <b><label>Additional Skills</label></b>
        </td>
		<td>
			 <input type="text" name="Additional Skills" value="">
        </td>
  </tr>
  
  <tr>
        <td>
		     <b><label>Location</label></b>
        </td>
		<td>
			 <input type="text" name="Location" value="">
        </td>
  </tr>

  <tr>

		<td>
			 <input type="submit" name="submit" value="Continue">
        </td>
  </tr>
</table>

</form>

</body>

</html>